doctype html
html
  include modules/head/head.jade
  body
    .preloader
      .preloader__container
        .preloader__text 0
        include ../assets/icons/forest.svg
    include modules/menu.jade
    .inner-wrapper
      include modules/header/works-header.jade
      section.my-works
        h2.section-title.section-title--works Мои работы
          include ../assets/icons/works_header.svg
        .slider#slider
          .slider__container
            .slider__current#slide
              ul.slider__current-list
                each val in work
                  li.slider__current-item
                    img.slider__current-image(src="#{val.picture}")
            .slider__description#slideDescr
              .slider__description-container
                ul.slider__description-list
                  each val in work
                    li.slider__description-item
                      .slider__header= val.name
                      .slider__caption= val.tech
                      a.slider-btn(href="#{val.link}") Посмотреть сайт
            .slider__thumbnails
              .thumbnail.thumbnail--down#downBtn
                ul.thumbnail__list
                  each val in work
                    li.thumbnail__item
                      img(src="#{val.picture}").thumbnail__image
              .thumbnail.thumbnail--up#upBtn
                ul.thumbnail__list
                  each val in work
                    li.thumbnail__item
                      img(src="#{val.picture}").thumbnail__image
      section.feedback
        h2.section-title.section-title--feedback Что обо мне говорят
          include ../assets/icons/about_header.svg
        .reviews
          .review
            .review__photo-wrapper
              img(src="assets/img/review-photo-1.jpg").review__photo
            p.review__text.
              Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
            .review__author Ковальчук Дмитрий
            .review__caption - основатель Loftschool
          .review
            .review__photo-wrapper
              img(src="assets/img/review-photo-2.jpg").review__photo
            p.review__text.
              Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
            .review__author Зар Захаров
            .review__caption - главный преподаватель
        form.feedback-form(method="get", action="#")
          h2.feedback-form__title Связаться со мной
          input(type="text" placeholder="Имя", required)#letterName.feedback-form__name
          input(type="email" placeholder="Email", required)#letterEmail.feedback-form__email
          textarea(placeholder="Ваше сообщение", required)#letterText.feedback-form__text
          .feedback-form__buttons
            input(type="button", value="Отправить")#letterBtn.feedback-form__submit
            input(type="button", value="Очистить")#clearBtn.feedback-form__clear
      include modules/inner-footer.jade