.slider#slider
  .slider__container
    .slider__current#slide
      ul.slider__current-list
        each item in works
          li.slider__current-item
            img.slider__current-image(src="#{item.picture}")
    .slider__description#slideDescr
      .slider__description-container
        ul.slider__description-list
          each item in works
            li.slider__description-item
              .slider__header= item.name
              .slider__caption= item.tech
              a.slifer-btn(href="#{item.link}")
    .slider__thumbnails
      .thumbnail.thumbnail--down#downBtn
        ul.thumbnail__list
          each item in works
            li.thumbnail__item
              img(src="#{item.picture}").thumbnail__image
      .thumbnail.thumbnail--up#upBtn
        ul.thumbnail__list
          each item in works
            li.thumbnail__item
              img(src="#{item.picture}").thumbnail__image